.circle-wave {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: -1;
  /* background-color: red; */
  position: relative;
  top: 100px;
  /* left: 300px; */
  transition: height 0.25s ease, width 0.25s ease;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: scale(2.5);
}

.circle-wave:hover {
  height: 150px;
  width: 150px;
}

.circle-wave:before,
.circle-wave:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 1px solid rgb(101, 186, 237);
}

.circle-wave:before {
  -webkit-animation: ripple 2s linear infinite;
  animation: ripple 2s linear infinite;
}
.circle-wave:after {
  -webkit-animation: ripple 2s linear 1s infinite;
  animation: ripple 2s linear 1s infinite;
}

.circle-wave:hover:before,
.circle-wave:hover:after {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.75);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.75);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.circle-wave-container {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
}
