.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;
}

.mic-image {
  width: 50px;
  height: 50px;
  animation: shake 0.5s linear;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.reader-flowing {
  position: relative;
  height: 250px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.reader-image {
  width: 120px;
  margin-left: -10px;
  z-index: 5;
}

.reader-image-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 5;
}
.listen-text {
  /* a */
}

.mic-container {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
