.payment-button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-top: 20px;
}
.payment-total-text {
  font-size: 2em;
  font-weight: 200;
}
.sub-head-total {
  font-size: 0.5em;
  margin: 0;
}

.payment-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
}

.ReactTable {
  height: 70vh;
}
.p-wrapper {
  padding: 10px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.pay-btn {
  padding: 10px;
  text-align: center;
  height: 50px;
  width: 140px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  border: 1px solid;
  border-radius: 40px;
  box-sizing: border-box;
  box-shadow: 3px 5px 18px -6px #9e9e98;
  cursor: pointer;
}

.pay-btn:active {
  width: 145px;
}

.pay-btn:focus {
  width: 145px;
}

.rt-td {
  text-align: center;
  font-weight: 200;
}

.ReactTable .rt-thead.-header {
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.15);
  font-weight: bold;
  background: #2b4b89;
  color: white;
  padding: 10px 0;
}
